<form name="newUserForm">
	<div>
		<label>Username:</label>
		<input type="text" name="username" ng-model="username" required>
	</div>
	<div>
		<label>Password:</label>
		<input type="password" name="password" ng-model="password" required>
	</div>
	<div>
		<label>Confirm Password:</label>
		<input type="password" name="password" ng-model="confirm" required>
	</div>
	<div>
		<input class="waves-effect waves-light btn" ng-click="newUser(username, password, confirm)" type="submit" value="Create Account">
	</div>
</form>